{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="d-none">{{ blog_title }}</h1>
        <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="min-height: 300; max-height: 600; animation: scale">

        <ul class="uk-slideshow-items">
            <li>
              <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                <img src="/img/bild1.jpg" alt="" uk-cover>
              </div>
            </li>
            <li>
              <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
                <img src="/img/bild2.jpg" alt="" uk-cover>
              </div>
            </li>
            <li>
              <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                <img src="/img/bild3.jpg" alt="" uk-cover>
              </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>

    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div uk-alert class="uk-alert-{{ label }}">
          <a class="uk-alert-close" uk-close></a>
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}
    {% for i in article %}
      <article class="my-5 uk-article">
        <h1 uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; viewport: 0.3;" class="uk-article-title"><a class="uk-link-reset" href="">{{ i.articleTitle }}</a></h1>
        <p class="uk-article-meta">von {{ i.isFrom }}</p>
        <p uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;">{{ i.articleContent }}</p>
        <div class="uk-grid-small uk-child-width-auto" uk-grid>
            <div>
                <a class="uk-button uk-button-text" href="/article/{{ i.id }}">Artikel anzeigen</a>
            </div>
        </div>
      </article>
    {% endfor %}
{% endblock %}
