{{ form_start(form) }}
  {{ form_row(form.articleTitle, {attr: {placeholder: 'Titel', autocomplete: 'off'}}) }}
  {{ form_row(form.isFrom, {attr: {placeholder: 'Autor', autocomplete: 'off'}}) }}
  {{ form_row(form.articleContent, {attr: {placeholder: 'Dein Text', rows: '5'}}) }}
  <button class="my-1 uk-button uk-button-default">{{ button_label|default('Speichern') }}</button>
{{ form_end(form) }}
