{% extends 'base.html.twig' %}

{% block title %}Artikel bearbeiten{% endblock %}

{% block body %}
    <h1>Artikel bearbeiten</h1>
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div uk-alert class="uk-alert-{{ label }}">
          <a class="uk-alert-close" uk-close></a>
          {{ message }}
        </div>
      {% endfor %}

    {{ include('articles/_form.html.twig', {'button_label': 'Aktualisieren'}) }}

    {{ include('articles/_delete_form.html.twig') }}
    <br />
    <a class="uk-button uk-button-text my-1" href="{{ path('articles_index') }}">Zurück zur Übersicht</a>
{% endblock %}
