{% extends 'base.html.twig' %}

{% block title %}Verwaltung{% endblock %}

{% block body %}
    <h1>Verwaltung</h1>
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div uk-alert class="uk-alert-{{ label }}">
          <a class="uk-alert-close" uk-close></a>
          {{ message }}
        </div>
      {% endfor %}

    <a class="my-2 uk-button uk-button-text" href="{{ path('articles_new') }}">Neuen Artikel erstellen</a><br />
    <table class="table my-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titel</th>
                <th>Text</th>
                <th>Autor</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.articleTitle }}</td>
                <td>{{ article.articleContent }}</td>
                <td>{{ article.isFrom }}</td>
                <td>
                    <a class="uk-button uk-button-small uk-button-default my-1" href="{{ path('articles_show', {'id': article.id}) }}">Anzeigen</a>
                    <a class="uk-button uk-button-small uk-button-default" href="{{ path('articles_edit', {'id': article.id}) }}">Bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Keine Artikel vorhanden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
